.body {
  margin: 0;
  background-image: url(./assets/img/landscape.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin-bottom: 20px;
  padding-top: 50px;
}

.btn {
  width: 101px;
  height: 54px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: solid 0.5px;
  font-size: 30px;
  background-color: rgb(144, 28, 144);
  color: white;
  background-image: url(./assets/img/button.png);
  background-size: cover;
}

.stats {
  display: flex;
  margin-bottom: 20px;
}

.moves {
  display: flex;
  margin-right: 30px;
  color: white;
  font-size: 30px;
}

.moves__title {
  margin-right: 10px;
}

.time {
  display: flex;
  color: white;
  font-size: 30px;
}

.time__title {
  margin-right: 10px;
}

.tiles {
  position: relative;
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border: solid 0.5px;
  border-radius: 12.5px;
  font-size: 30px;
  background-color: rgb(144, 28, 144);
  color: white;
  box-sizing: border-box;
  background-image: url(./assets/img/stone.png);
  background-size: cover;
}

.sizes {
  font-size: 30px;
  color: white;
}

.frame-size {
  display: flex;
}

.frame-size__title {
  margin-right: 20px;
}

.other-size {
  display: flex;
}

.other-size__title {
  margin-right: 20px;
}

.other-size__text {
  margin-right: 10px;
}

.other-size__text:last-child {
  margin-right: 0;
}
