.body {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/img/landscape.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.buttons {
  margin-bottom: 20px;
  padding-top: 50px;
}

.button {
  width: 101px;
  height: 54px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: solid 0.5px;
  font-size: 30px;
  color: white;
  background-image: url(./assets/img/button.png);
  background-size: cover;
}

.buttons__stop {
  position: relative;
  z-index: -1;
}

.buttons__stop--active {
  z-index: 1;
}

.stats {
  display: flex;
  margin-bottom: 20px;
}

.moves {
  display: flex;
  margin-right: 30px;
  color: white;
  font-size: 30px;
}

.moves__title {
  margin-right: 10px;
}

.time {
  margin-right: 20px;
  display: flex;
  color: white;
  font-size: 30px;
}

.time__title {
  margin-right: 10px;
}

.volume {
  width: 45px;
  height: 44px;
  background: none;
  border: none;
  background-image: url(./assets/img/volume-on.png);
  background-size: cover;
  cursor: pointer;
}

.volume--muted {
  width: 45px;
  height: 44px;
  background-image: url(./assets/img/volume-off.png);
  background-size: cover;
}

.tiles {
  position: relative;
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border: solid 0.5px;
  border-radius: 12.5px;
  font-size: 30px;
  color: white;
  box-sizing: border-box;
  background-image: url(./assets/img/stone.png);
  background-size: cover;
  z-index: -1;
  transition: 0.3s;
}

.tile--active {
  z-index: 1;
}

.sizes {
  font-size: 30px;
  color: white;
}

.frame-size {
  display: flex;
}

.frame-size__title {
  margin-right: 20px;
}

.other-size {
  display: flex;
}

.other-size__title {
  margin-right: 20px;
}

.other-size__text {
  margin-right: 10px;
}

.other-size__text:last-child {
  margin-right: 0;
}

.popup-start {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}

.popup-start--active {
  display: block;
}

.popup-start__title {
  padding-top: 100px;
  margin-bottom: 30px;
  font-size: 60px;
  text-align: center;
}

.popup-start__text {
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}

.popup-results {
  display: none;
  position: absolute;
  // height: 100%;
  // width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}

.popup-results--active {
  display: block;
}

.popup-results__line {
  display: flex;
}

.popup-results__header {
  display: flex;
}

.popup-results__element {
  margin-right: 25px;
  font-size: 30px;
  color: green;
}
